<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-confirm-update">
    <template>
        <style>
            :host {
                display: block
            }

            p{
                font-size: 20px;
            }
        </style>

        <paper-dialog
            id="dialog"
            with-backdrop 
            alwaysOnTop
            on-iron-overlay-closed="dialogClosed"
        >
            <p>Are you sure you want to change <b>[[game.game]]</b> to state <b>[[to]]</b>?</p>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus>Accept</paper-button>
            </div>
        </paper-dialog>

    </template>

    <script>

        class GkConfirmUpdate extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-confirm-update';
            }

            static get properties() {
                return {
                    game: Object,
                    to: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            dialogClosed(e){
                let state = e.detail
                if(!state.canceled && state.confirmed){
                    this.fire('change-state-accepted', {
                        game: this.game,
                        to: this.to
                    })
                }
            }

            open(game, to){
                this.set('game', game)
                this.set('to', to)
                document.body.appendChild(this.$.dialog);
                this.$.dialog.open();
            }
        }

        window.customElements.define(GkConfirmUpdate.is, GkConfirmUpdate);
    </script>
</dom-module>