<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="./lists/gk-list-pending.html">
<link rel="import" href="./lists/gk-list-playing.html">
<link rel="import" href="./lists/gk-list-finished.html">
<link rel="import" href="./gk-confirm-update.html">

<link rel="import" href="../search/gk-search.html">

<link rel="import" href="../../utils/UtilsMixin.html">
<link rel="import" href="../../utils/style/app-theme.html">

<link rel="import" href="../../services/games/gk-games-service.html">

<dom-module id="gk-games">
    <template>

        <style include="app-theme">
            :host {
                display: block;
                margin: 0 !important;
                padding: 0 !important;
            }

            paper-tabs {
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                text-transform: uppercase;
                color: white;
                --paper-tabs-selection-bar-color: white;
                --paper-tab-ink: white;
                background-color: var(--default-primary-color);
            }

            paper-fab{
                position: fixed;
                right: 5%;
                bottom: 5%
            }

            [hidden] {
                display: none !important;
            }
        </style>

        <app-route
            route="{{route}}"
            data="{{routeData}}"
            tail="{{subroute}}"
        ></app-route>
                    
        <paper-tabs selected="{{selected}}" attr-for-selected="tab" sticky>
            <paper-tab tab="pending">Pending</paper-tab>
            <paper-tab tab="playing">Playing</paper-tab>
            <paper-tab tab="finished">Finished</paper-tab>
        </paper-tabs>

        <iron-pages selected="{{selected}}" attr-for-selected="page">
            <gk-list-pending
                page="pending"
                games="[[pending]]"
                loading="[[loadingGames]]"
                on-change-state="changeState"
            ></gk-list-pending>
            <gk-list-playing
                page="playing"
                games="[[playing]]"
                loading="[[loadingGames]]"
                on-change-state="changeState"
            ></gk-list-playing>
            <gk-list-finished
                page="finished"
                games="[[finished]]"
                loading="[[loadingGames]]"
                on-change-state="changeState"
            ></gk-list-finished>
        </iron-pages>

        <paper-fab 
            icon="add"
            on-click="openSearchDialog"
        ></paper-fab>

        <paper-dialog
            id="searchDialog"
            with-backdrop 
            alwaysOnTop
            on-iron-overlay-closed="dialogclosed">
            <gk-search 
                id="gameSearch"
                class="no-padding"
                on-search-games="searchGames"
                on-platform-selected="platformSelected"
                on-platform-cancelled="platformCancelled"
            ></gk-search>
            <div class="paper-dialog-buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm id="addBtn" on-click="addGame">Add</paper-button>
            </div>
        </paper-dialog>

        <paper-dialog
            id="detailsDialog"
            with-backdrop 
            alwaysOnTop
            on-iron-overlay-closed="dialogclosed">

            <gk-game-detail
                id="gameDetail"
                class="no-padding"
                on-close-details="closeDetails"
                on-save-game-changes="saveGame"
                on-delete-game="deleteGame"
            ></gk-game-detail>

        </paper-dialog>

        <gk-confirm-update
            id="dialogConfirm"
            on-change-state-accepted="changeStateAccepted"
        ></gk-confirm-update>

        <gk-games-service
            id="gameService"
            api="[[api]]"
            token="[[token]]"
            pending="{{pending}}"
            playing="{{playing}}"
            finished="{{finished}}"
            loading="{{loadingGames}}"
            on-search-games-successfully="searchGamesSuccessfully"
            on-search-games-fail="searchGamesFail"
            on-game-inserted="reloadLists"
        ></gk-games-service>

    </template>

    <script>
        
        const GkGamesMixins = UtilsMixin(Polymer.Element)

        class GkGames extends GkGamesMixins {

            static get is() {
                return 'gk-games';
            }

            static get properties() {
                return {
                    selected: {
                        type: String,
                        observer: 'selectedChanged'
                    },
                    subroute: {
                        type: Object,
                        notify: true
                    },
                    loadingGames: {
                        type: Boolean,
                        value: true
                    },
                    route: Object,
                    routeData: Object,
                    token: String,
                    api: String,
                    canAdd: {
                        type: Boolean,
                        value: false,
                        observer: 'canAddChanged'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                this.reloadLists()
            }

            static get observers() {
                return [
                    'listQueryParamChanged(subroute.__queryParams.list)'
                ]
            }

            routeDataChanged(routeData){
                console.log(routeData)
            }

            selectedChanged(list){
                console.log(list)
                this.set('subroute.__queryParams.list', list)
            }

            listQueryParamChanged(list){
                //this.set('subroute.__queryParams.gid', null)
                if(list == undefined){
                    list = 'pending'
                }
                this.set('selected', list)
            }

            loadingGames(e){
                this.set('loadingGames', e.detail)
            }

            openSearchDialog(e){
                document.body.appendChild(this.$.searchDialog)
                this.$.searchDialog.open()
                this.$.searchDialog.updateStyles({
                    'width': '95%',
                    'max-width': '500px'
                })
            }

            canAddChanged(canAdd){
                if(canAdd){
                    this.$.addBtn.set('disabled', false)
                }else {
                    this.$.addBtn.set('disabled', true)
                }
            }

            platformSelected(){
                this.set('canAdd', true)
            }

            platformCancelled(){
                this.set('canAdd', false)
            }

            addGame(){
                let game = this.$.gameSearch.getSelectedGame()
                this.$.gameService.insertGame({
                    gid: game.gid.toString(),
                    platform: game.platform,
                    status: 'PENDING'
                })
            }

            searchGames(e){
                this.$.gameService.search(e.detail)
            }

            searchGamesSuccessfully(e){
                let games = e.detail
                this.$.gameSearch.set('games', games)
            }

            searchGamesFail(){
                this.$.gameSearch.set('games', [])
                
                this.fire('toast-message', {
                    status: 'error',
                    message: 'Sorry, your search could not be performed',
                    duration: 3000
                })
            }

            dialogclosed(){
                this.set('canAdd', false)
                this.$.gameSearch.clean()
            }

            reloadLists(){
                this.$.gameService.getAllGames()
            }

            changeState(e){
                this.$.dialogConfirm.open(e.detail.game, e.detail.nextState)
            }

            changeStateAccepted(e){
                let game = {}
                switch(e.detail.to){
                    case 'PLAYING':
                        game = {
                            gid: e.detail.game.gid.toString(),
                            platform: e.detail.game.platform,
                            startdate: this._getToday(),
                            status: e.detail.to
                        }
                        break
                    case 'FINISHED':
                        game = {
                            gid: e.detail.game.gid.toString(),
                            platform: e.detail.game.platform,
                            startdate: e.detail.game.startdate,
                            enddate: this._getToday(),
                            rate: '0',
                            status: e.detail.to
                        }
                        break
                }
                this.$.gameService.insertGame(game)
            }

            saveGame(game) {
                this.$.gameService.updateGame(game)
            }

            deleteGame(gid){
                this.$.gameService.deleteGame(gid)
            }

            getGame(gid) {
                return this.$.gameService.getGame(gid)
            }
            
            _getToday(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                return yyyy + '-' + mm + '-' + dd;
            }
        }

        window.customElements.define(GkGames.is, GkGames);
    </script>
</dom-module>