<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-dropdown-menu.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-list-box.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-item.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-date-picker.html">
<link rel="import" href="../../../bower_components/l2t-paper-rating/l2t-paper-rating.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../platform/gk-platform-dropdown.html">
<link rel="import" href="../../utils/UtilsMixin.html">
<link rel="import" href="../../utils/style/app-theme.html">

<dom-module id="gk-game-detail">
    <template>
        <style include="app-theme">
            :host {
                display: block;
                margin: 20px;
            }

            paper-card{
                width: 100%;
            }

            .content-desktop{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: flex-start;
            }

            .content-mobile{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .main-box {
                height: 100%;
            }

            .image-title{
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .game-info-desktop{
                width: 79%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }

            .game-info-mobile{
                width: 85%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            gk-platform-dropdown,
            vaadin-dropdown-menu,
            vaadin-date-picker {
                width: 100%;
            }

            l2t-paper-rating,
            gk-platform-dropdown,
            vaadin-dropdown-menu{
                margin-top: 10px;
            }

            img.desktop {
                display: block;
                max-width: 265px;
                max-height: 375px;
                width: 80%;
                height: auto;
            }

            img.mobile {
                display: block;
                max-width: 265px;
                max-height: 375px;
                width: auto;
                height: auto;
            }

            paper-icon-button + [main-title] {
                margin-left: 24px;
            }

            [main-title]{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .buttons-box-desktop{
                width: 100%;
                padding: 15px 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .buttons-box-mobile{
                width: 100%;
                padding: 15px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .details-btn-save-desktop{
                max-width: 200px;
                min-width: 125px;
                width: 100%;
                background-color: #009688;
                color: #fff;
                margin-right: 15px;
            }

            .details-btn-save-mobile{
                width: 85%;
                background-color: #009688;
                color: #fff;
                margin-top: 15px;
            }

            .details-btn-delete-desktop{
                max-width: 200px;
                min-width: 125px;
                width: 100%;
                background-color: #eaeaea;
                color: #db4437;
                margin-left: 15px;
            }

            .details-btn-delete-mobile{
                width: 85%;
                background-color: #eaeaea;
                color: #db4437;
                margin-top: 15px;
            }

            .spinner-save{
                --paper-spinner-color: #009688;
            }

            .spinner-delete{
                --paper-spinner-color: #db4437;
            }

            paper-button[disabled]{
                background-color: #eaeaea;
            }
        </style>
        
        <paper-card>
            <app-toolbar>
                <paper-icon-button class="back-button" icon="arrow-back" on-click="closeDetails"></paper-icon-button>
                <div main-title id="maintitle">[[title]]</div>
            </app-toolbar>
            <div class$="content-[[mediaQuery]]">
                <div class="main-box image-title">
                    <img src="[[image]]" class$="[[mediaQuery]]">
                </div>
                <div class$="main-box game-info-[[mediaQuery]]">
                    <gk-platform-dropdown value="{{platform}}"></gk-platform-dropdown>
                    <vaadin-dropdown-menu placeholder="Select a status" value="{{status}}">
                        <template>
                            <vaadin-list-box>
                                <vaadin-item value="PENDING">
                                    <p>PENDING</p>
                                </vaadin-item>
                                <vaadin-item value="PLAYING">
                                    <p>PLAYING</p>
                                </vaadin-item>
                                <vaadin-item value="FINISHED">
                                    <p>FINISHED</p>
                                </vaadin-item>
                            </vaadin-list-box>
                        </template>
                    </vaadin-dropdown-menu>
                    <vaadin-date-picker id="startdate" label="Start Date" value="{{startdate}}"></vaadin-date-picker>
                    <vaadin-date-picker id="enddate" label="End Date" value="{{enddate}}"></vaadin-date-picker>
                    <l2t-paper-rating id="rate" rating="{{rate}}"></l2t-paper-rating>
                </div>
            </div>
            <div class$="buttons-box-[[mediaQuery]]">
                <paper-button class$="details-btn-delete-[[mediaQuery]]" on-click="deleteGame" disabled="[[deleting]]">
                    <template is="dom-if" if="[[!deleting]]">
                        Delete game
                    </template> 
                    <template is="dom-if" if="[[deleting]]">
                        <paper-spinner-lite class="spinner-delete" active></paper-spinner-lite>
                    </template>
                </paper-button>
                <paper-button class$="details-btn-save-[[mediaQuery]]" raised on-click="saveChanges" disabled="[[saving]]">
                    <template is="dom-if" if="[[!saving]]">
                        Save changes
                    </template> 
                    <template is="dom-if" if="[[saving]]">
                        <paper-spinner-lite class="spinner-save" active></paper-spinner-lite>
                    </template>
                </paper-button>

            </div>
        </paper-card>

        <paper-dialog id="confirmDialog" with-backdrop alwaysOnTop on-iron-overlay-closed="confirmDeleteClosed">
            <p>Are you sure you want to delete
                <b>[[title]]</b>?</p>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm autofocus>Accept</paper-button>
            </div>
        </paper-dialog>

        <iron-media-query query="min-width: 841px" query-matches="{{isDesktop}}"></iron-media-query>

    </template>

    <script>

        class GkGameDetail extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-game-detail';
            }


            static get properties() {
                return {
                    gid: String,
                    title: String,
                    platform: String,
                    developer: String,
                    publisher: String,
                    summary: String,
                    publishdate: String,
                    startdate: String,
                    enddate: String,
                    status: String,
                    rate: String,
                    image: String,
                    saving: Boolean,
                    deleting: Boolean,
                    isDesktop: Boolean,
                    mediaQuery: String
                };
            }


            constructor() {
                super();
            }


            ready() {
                super.ready();
                this.$.startdate.set('i18n.formatDate', this._formatDate);
                this.$.startdate.set('i18n.parseDate', this._parseDate);
                this.$.enddate.set('i18n.formatDate', this._formatDate);
                this.$.enddate.set('i18n.parseDate', this._parseDate);
                this.set('saving', false)
                this.set('deleting', false)
            }

            static get observers() {
                return [
                    'statusChanged(status)',
                    'isDesktopChanged(isDesktop)'
                ];
            }

            setGame(game) {
                switch(game.status){
                    case 'PENDING':
                        this._setPendingGame(game);
                        break;
                    case 'PLAYING':
                        this._setPlayingGame(game);
                        break;
                    case 'FINISHED':
                        this._setFinishedGame(game);
                        break;
                }
            }

            closeDetails() {
                this.fire('close-details', this.status.toLowerCase())
            }

            deleteGame() {
                document.body.appendChild(this.$.confirmDialog)
                this.$.confirmDialog.open()
            }

            confirmDeleteClosed(e) {
                let state = e.detail
                if (!state.canceled && state.confirmed) {
                    this.set('deleting', true)
                    this.fire('delete-game', this.gid)
                }
            }

            saveChanges(){
                this.set('saving', true)
                let game = {} 
                switch(this.status){
                    case 'PENDING':
                        game.gid = this.gid
                        game.status = this.status
                        game.platform = this.platform
                        break;
                    case 'PLAYING':
                        game.gid = this.gid
                        game.status = this.status
                        game.platform = this.platform
                        game.startdate = this.startdate
                        break;
                    case 'FINISHED':
                        game.gid = this.gid
                        game.status = this.status
                        game.platform = this.platform
                        game.startdate = this.startdate
                        game.enddate = this.enddate
                        game.rate = this.rate.toString()
                        break;
                }
                this.fire('save-game-changes', game)
            }

            statusChanged(status) {
                switch(status){
                    case 'PENDING':
                        this._showPendingFields();
                        break;
                    case 'PLAYING':
                        this._showPlayingFields();
                        break;
                    case 'FINISHED':
                        this._showFinishedFields();
                        break;
                }
            }

            isDesktopChanged(isDesktop){
                if(isDesktop){
                    this.set('mediaQuery', 'desktop')
                }else {
                    this.set('mediaQuery', 'mobile')
                }
            }

            _setPendingGame(game) {
                let platform = this.$.platform
                let status = this.$.status
                let startdate = this.$.startdate
                let enddate = this.$.enddate
                let rate = this.$.rate
                
                this.set('gid', game.gid)
                this.set('title', game.game)
                this.set('image', game.image)
                this.set('platform', game.platform)
                this.set('status', 'PENDING') 
            }

            _setPlayingGame(game) {
                let platform = this.$.platform
                let status = this.$.status
                let startdate = this.$.startdate
                let enddate = this.$.enddate
                let rate = this.$.rate
                
                this.set('gid', game.gid)
                this.set('title', game.game)
                this.set('image', game.image)
                this.set('platform', game.platform)
                this.set('startdate', game.startdate)
                this.set('status', 'PLAYING')
            }

            _setFinishedGame(game) {
                let platform = this.$.platform
                let status = this.$.status
                let startdate = this.$.startdate
                let enddate = this.$.enddate
                let rate = this.$.rate
                
                this.set('gid', game.gid)
                this.set('title', game.game)
                this.set('image', game.image)
                this.set('platform', game.platform)
                this.set('startdate', game.startdate)
                this.set('enddate', game.enddate)
                this.set('status', 'FINISHED')
            }

            _showPendingFields(){
                this.$.startdate.setAttribute('hidden', true)
                this.$.enddate.setAttribute('hidden', true)
                this.$.rate.setAttribute('hidden', true)
            }

            _showPlayingFields(){
                if(this.startdate == ''){
                    this.set('startdate', this._getToday())
                }
                this.$.startdate.removeAttribute('hidden')
                this.$.enddate.setAttribute('hidden', true)
                this.$.rate.setAttribute('hidden', true)
            }

            _showFinishedFields(){
                if(this.startdate == ''){
                    this.set('startdate', this._getToday())
                }
                if(this.enddate == ''){
                    this.set('enddate', this._getToday())
                }
                this.$.startdate.removeAttribute('hidden')
                this.$.enddate.removeAttribute('hidden')
                this.$.rate.removeAttribute('hidden')
            }

            _formatDate(d) {
                const yearStr = String(d.year).replace(/\d+/, y => '0000'.substr(y.length) + y);
                return [yearStr, d.month + 1, d.day].join('-');
            }

            _parseDate(text){
                const parts = text.split('-');
                const today = new Date();
                let date,
                    month = today.getMonth(),
                    year = today.getFullYear();

                if (parts.length === 3) {
                    year = parseInt(parts[0]);

                    if (parts[0].length < 3 && year >= 0) {
                        year += year < 50 ? 2000 : 1900;
                    }

                    month = parseInt(parts[1]) - 1;
                    date = parseInt(parts[2]);
                } else if (parts.length === 2) {
                    month = parseInt(parts[1]) - 1;
                    date = parseInt(parts[2]);
                } else if (parts.length === 1) {
                    date = parseInt(parts[2]);
                }

                if (date !== undefined) {
                    return {
                        day: date,
                        month,
                        year
                    };
                }
            }

            _getToday(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();

                if(dd<10) {
                    dd = '0'+dd
                } 

                if(mm<10) {
                    mm = '0'+mm
                } 

                today = yyyy + '-' + mm + '-' + dd;
                return today
            }

        }

        window.customElements.define(GkGameDetail.is, GkGameDetail);
    </script>
</dom-module>