<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer.html">
<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer-title.html">
<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer-icon-item.html">
<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer-subheader.html">
<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer-divider.html">
<link rel="import" href="../../../../bower_components/paper-drawer/paper-drawer-item.html">
<link rel="import" href="../../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../../../bower_components/iron-meta/iron-meta.html">

<link rel="import" href="../../../utils/BackgroundColorsMixin.html">
<link rel="import" href="../../../utils/UtilsMixin.html">
<link rel="import" href="../../../utils/style/app-theme.html">

<dom-module id="gk-drawer">
    <template>
        <style include="app-theme">
            :host {
                display: block
            }

            paper-drawer{
                --paper-drawer-title-background-color: var(--dark-primary-color)
            }
        </style>

        <paper-drawer>
            <paper-drawer-title photo="[[profilePicture]]" name="[[username]]" email="[[email]]"></paper-drawer-title>
            
            <paper-drawer-icon-item icon="av:games" on-click="games">Games</paper-drawer-icon-item>
            <paper-drawer-icon-item icon="icons:update">Feed</paper-drawer-icon-item>
            <paper-drawer-icon-item icon="icons:thumb-up">Recommendations</paper-drawer-icon-item>
            
            <paper-drawer-divider></paper-drawer-divider>
            
            <paper-drawer-subheader>Account</paper-drawer-subheader>
            <paper-drawer-item>My Account</paper-drawer-item>
            <paper-drawer-item on-click="logout">Logout</paper-drawer-item>
        </paper-drawer>

        <iron-meta id="meta"></iron-meta>

    </template>

    <script>

        const GkDrawerMixins = BackgroundColorsMixin(UtilsMixin(Polymer.Element))

        class GkDrawer extends GkDrawerMixins {
            
            static get is() {
                return 'gk-drawer';
            }

            static get properties() {
                return {
                    profilePicture: String,
                    loginService: Object,
                    username: String,
                    email: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                this.loginService = this.$.meta.byKey('login-service')
                this.username = this.loginService.user.username
                this.email = this.loginService.user.email
                let letter = this.username.toUpperCase().substring(0, 1)
                this.profilePicture = `https://dummyimage.com/400x400/${this.getBackgroundColor(letter)}/fff&text=${letter}`
            }

            logout(){
                this.fire('logout')
            }

            games() {
                this.fire('game-clicked')
            }

        }

        window.customElements.define(GkDrawer.is, GkDrawer);
    </script>
</dom-module>