<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../utils/UtilsMixin.html">

<dom-module id="gk-filter-drawer">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-icon-button + [main-title] {
                margin-left: 24px;
                text-align: left;
            }
        </style>

        <app-toolbar>
            <paper-icon-button class="back-button" icon="close" on-click="closeDrawer"></paper-icon-button>
            <div main-title id="maintitle">Filters</div>
        </app-toolbar>

    </template>

    <script>

        class GkFilterDrawer extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-filter-drawer';
            }

            static get properties() {
                return {
                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            closeDrawer(){
                this.fire('close-filter-drawer')
            }

        }

        window.customElements.define(GkFilterDrawer.is, GkFilterDrawer);
    </script>
</dom-module>