<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../utils/UtilsMixin.html">

<dom-module id="gk-login-service">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-localstorage 
            id="localstorage" 
            name="storage-tokens" 
            value="{{tokens}}"
            on-iron-localstorage-load="loadedStorage"
            on-iron-localstorage-load-empty="loadedStorageEmpty"
        ></iron-localstorage>

        <iron-ajax
            id="signup"
            method="POST"
            url="[[api]]/auth/signup"
            content-type="application/json"
            on-response="signupresponse"
            on-error="signuperror"
            loading="{{loadingSignup}}"
        ></iron-ajax>

        <iron-ajax
            id="login"
            method="POST"
            url="[[api]]/auth/login"
            content-type="application/json"
            on-response="loginresponse"
            on-error="loginerror"
            loading="{{loadingLogin}}"
        ></iron-ajax>

        <iron-ajax
            id="refresh"
            method="POST"
            url="[[api]]/auth/refresh-token"
            content-type="application/json"
            on-response="refreshresponse"
            on-error="refresherror"
            loading="{{loadingRefresh}}"
        ></iron-ajax>

        <iron-meta
            id="meta"
            key="login-service"
        ></iron-meta>

    </template>

    <script>
        /**
         * `gk-login-service` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class GkLoginService extends UtilsMixin(Polymer.Element) {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'gk-login-service';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    api: String,
                    user: {
                        type: Object,
                        notify: true
                    },
                    tokens: {
                        type: Object,
                        notify: true
                    },
                    tokenStatus: {
                        type: String,
                        value: 'LOADING',
                        observer: 'tokenStatusChanged'
                    },
                    loadingLogin: {
                        type: Boolean,
                        value: false,
                        observer: 'loadingLoginChange'
                    },
                    loadingSignup: {
                        type: Boolean,
                        value: false,
                        observer: 'loadingSignupChange'
                    },
                    loadingRefresh: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
                this.$.meta.value = this
            }

            loadingLoginChange(loadingLogin){
                this.fire('loading-login', loadingLogin)
            }

            loadingSignupChange(loadingSignup){
                this.fire('loading-signup', loadingSignup)
            }

            login(username, password){
                if(!this.loadingLogin){
                    this.loadingLogin = true
                    this.$.login.body = JSON.stringify({
                        'username': username,
                        'password': password
                    })
                    
                    this.$.login.generateRequest()
                }
            }

            signup(username, email, password){
                if(!this.loadingSignup){
                    this.$.signup.body = JSON.stringify({
                        username: username,
                        email: email,
                        password: password
                    })

                    this.$.signup.generateRequest()
                }
            }

            logout(){
                this.tokens = null
                this.set('tokenStatus', 'EMPTY')
                this.fire('goto', 'login')
            }

            loginresponse(e){
                this._saveTokens(e.detail.response)
                this.fire('login-success')
            }

            loginerror(e){
                let response = e.detail.request
                this.fire('login-fail', {
                    error: response.xhr.response.Message
                })
            }

            signupresponse(e){
                this.fire('signup-success')
                this.selected = 0
            }

            signuperror(e){
                let response = e.detail.request

                console.log(response.xhr)

                this.fire('signup-fail', {
                    error: response.xhr.response.Message
                })
            }

            refreshresponse(e){
                e.detail.response.Auth.RefreshToken = this.refreshToken
                this._saveTokens(e.detail.response)
                this.fire('token-verified')
            }

            refresherror(e){
                this.set('tokenStatus', 'ERROR')
                this.fire('toast-message', {
                    status: 'error',
                    message: 'Expired login tokens.',
                    duration: 3000
                })
                this.fire('token-verified')
            }

            loadedStorage(){
                if(!this.loadingRefresh){
                    this.refreshToken = this.tokens.RefreshToken
                    this.$.refresh.body = JSON.stringify({
                        refreshToken: this.refreshToken
                    })
                }
                this.set('tokenStatus', 'LOADED')
                this.fire('loadstorage-loaded')
            }

            loadedStorageEmpty(){
                this.set('tokenStatus', 'EMPTY')
                this.fire('loadstorage-loaded')
            }

            verifyToken(){
                this.$.refresh.generateRequest()
            }

            tokenStatusChanged(status){
                //console.log(status)
            }

            _saveTokens(tokens){
                this.set('tokens', tokens.Auth)
                let user = {
                    username: tokens.User.Username
                }
                tokens.User.UserAttributes.forEach(atr => {
                    if(atr.Name == 'sub'){
                        user.sub = atr.Value
                    }else if(atr.Name == 'email_verified'){
                        user.email_verified = atr.Value
                    }else if(atr.Name == 'email'){
                        user.email = atr.Value
                    }
                });
                this.set('user', user)
                this.set('tokenStatus', 'OK')
            }

        }

        window.customElements.define(GkLoginService.is, GkLoginService);
    </script>
</dom-module>