<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../../utils/UtilsMixin.html">
<link rel="import" href="../../utils/style/app-theme.html">

<dom-module id="gk-layout">
    <template>
        <style include="app-theme">
            :host {
                display: block
            }

            app-toolbar {
                background-color: var(--default-primary-color);
                color: #fff;
            }

            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            paper-icon-button + [main-title] {
                margin-left: 24px;
            }

            [hidden] {
                display: none !important;
            }

            app-drawer#filters {
                --app-drawer-width: 350px
            }
        </style>

        <app-drawer-layout fullbleed>

            <app-drawer id="drawer" slot="drawer" swipe-open>
                <slot name="main-drawer"></slot>
            </app-drawer>
            <!-- <app-drawer id="filters" slot="drawer" align="end" swipe-open>
                <slot name="filter-drawer"></slot>
            </app-drawer> -->

            <app-header-layout fullbleed>
                <app-header id="header" effects="waterfall" fixed condenses shadow>
                    <app-toolbar>
                        <paper-icon-button class="menu-button" icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
                        <div main-title id="maintitle">Gameskeep</div>
                        <paper-icon-button icon="refresh" on-click="reloadLists" hidden$="[[!isGameList]]"></paper-icon-button>
                        <!-- <paper-icon-button icon="filter-list" on-click="toggleFilters"></paper-icon-button> -->
                    </app-toolbar>
                </app-header>

                <slot name="pages"></slot>

            </app-header-layout>

        </app-drawer-layout>

        <iron-media-query query="min-width: 641px" query-matches="{{wideLayout}}"></iron-media-query>

    </template>

    <script>

        class GkLayout extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-layout';
            }

            static get properties() {
                return {
                    wideLayout: {
                        type: Boolean,
                        value: false,
                        observer: 'onLayoutChange',
                    },
                    isGameList: {
                        type: String,
                        value: false
                    },
                    mainselected: {
                        type: String,
                        observer: 'mainSelectedChanged'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            toggleFilters(){
                this.$.filters.toggle();
            }

            toggleDrawer(){
                this.$.drawer.toggle();
            }
            
            onLayoutChange(wide) {
                var drawer = this.$.drawer;
                if (wide && drawer.opened) {
                    drawer.opened = false;
                }
            }

            closeFilterDrawer(){
                this.$.filters.close()
            }

            reloadLists(){
                this.fire('reload-list')
            }

            mainSelectedChanged(mainSelected) {
                if(mainSelected == 'games') {
                    this.set('isGameList', true)
                }else {
                    this.set('isGameList', false)
                }
            }
        }

        window.customElements.define(GkLayout.is, GkLayout);
        
    </script>
</dom-module>