<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/utils/render-status.html">
<link rel="import" href="../../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../cards/gk-game-finished-card.html">
<link rel="import" href="../../gk-loading.html">

<dom-module id="gk-list-finished">
    <template>
        <style>
            :host {
                display: block
            }

            gk-loading{
                margin-top: 50px;
            }

            [hidden] {
                display: none !important;
            }
        </style>
        <iron-pages selected="{{selected}}" attr-for-selected="page">
            <gk-loading page="loading">Loading finished...</gk-loading>
            <iron-list id="ironList" items="[[games]]" scroll-target="document" grid fadeImage page="list">
                <template>
                    <gk-game-finished-card
                        gid="[[item.gid]]"
                        game="[[item.name]]"
                        image="[[item.image]]"
                        platform="[[item.platform]]"
                        startdate="[[item.startdate]]"
                        enddate="[[item.enddate]]"
                        rate="[[item.rate]]"
                    ></gk-game-finished-card>
                </template>
            </iron-list>
        </iron-pages>
    </template>

    <script>

        class GkListFinished extends Polymer.Element {

            static get is() {
                return 'gk-list-finished';
            }


            static get properties() {
                return {
                    games: Array,
                    selected: {
                        type: String,
                        value: 'loading'
                    },
                    loading: {
                        type: Boolean,
                        observer: 'loadingChange'
                    }
                };
            }


            constructor() {
                super();
            }


            ready() {
                super.ready();
                window.addEventListener('resize', () => this.$.ironList.notifyResize())
                Polymer.RenderStatus.afterNextRender(this, () => this.$.ironList.notifyResize())
            }

            loadingChange(loading){
                if(loading){
                    this.set('selected', 'loading')
                }else{
                    this.set('selected', 'list')
                }
            }

        }

        window.customElements.define(GkListFinished.is, GkListFinished);
    </script>
</dom-module>