<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../utils/PlatformsMixin.html">

<dom-module id="gk-platform">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <img style="width: 21px; vertical-align: bottom" src="[[image]]">
        <template is="dom-if" if="[[!onlyicon]]">
            &nbsp;[[platform]]
        </template>

    </template>

    <script>

        class GkPlatform extends PlatformsMixin(Polymer.Element) {

            static get is() {
                return 'gk-platform';
            }

            static get properties() {
                return {
                    platform: String,
                    onlyicon: {
                        type: Boolean,
                        value: false
                    },
                    image: {
                        type: String,
                        computed: '_setImage(platform)'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            _setImage(platform){
                let p = this.getPlatform(platform)

                return p.image
            }

        }

        window.customElements.define(GkPlatform.is, GkPlatform);
    </script>
</dom-module>