<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-dropdown-menu.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-list-box.html">
<link rel="import" href="../../../bower_components/vaadin-material-theme/vaadin-item.html">

<link rel="import" href="../../utils/UtilsMixin.html">
<link rel="import" href="../../utils/PlatformsMixin.html">

<dom-module id="gk-platform-dropdown">
    <template>
        <style>
            :host {
                display: block
            }

            vaadin-dropdown-menu{
                width: 100%;
            }
        </style>

        <vaadin-dropdown-menu placeholder="Select a platform" value="{{value}}">
            <template>
                <vaadin-list-box>
                    <template is="dom-repeat" items="[[platform]]">
                        <vaadin-item value="[[item.platform]]">
                            <img style="width: 21px; vertical-align: bottom" src="[[item.image]]"> &nbsp;[[item.platform]]
                        </vaadin-item>
                    </template>
                </vaadin-list-box>
            </template>
        </vaadin-dropdown-menu>

    </template>

    <script>

        class GkPlatformDropdown extends PlatformsMixin(UtilsMixin(Polymer.Element)) {

            static get is() {
                return 'gk-platform-dropdown';
            }

            static get properties() {
                return {
                    value: {
                        type: String,
                        value: '',
                        notify: true,
                        observer: 'valueChanged'
                    },
                    platform: {
                        type: Array,
                        value: function () {
                            return allplatforms
                        }
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            valueChanged(platform) {
                if (platform != '') {
                    this.fire('platform-selected', platform)
                } else {
                    this.fire('platform-cancelled')
                }
            }

        }

        window.customElements.define(GkPlatformDropdown.is, GkPlatformDropdown);
    </script>
</dom-module>