<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="../utils/style/app-theme.html">

<dom-module id="gk-loading">
    <template>
        <style include="app-theme">
            :host {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--gk-loading-bg-color, #f1f1f1);
                --paper-spinner-color: var(--default-primary-color);
                --paper-spinner-stroke-width: 6px;
            }

            paper-spinner-lite{
                width: 100px;
                height: 100px;
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            p{
                margin-top: 50px;
                color: var(--gk-loading-label-color, #000)
            }
        </style>

        <div>
            <paper-spinner-lite
                active
            ></paper-spinner-lite>
            <p><slot></slot></p>
        </div>

    </template>

    <script>

        class GkLoading extends Polymer.Element {

            static get is() {
                return 'gk-loading';
            }

            static get properties() {
                return {
                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

        }

        window.customElements.define(GkLoading.is, GkLoading);
    </script>
</dom-module>