<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../utils/UtilsMixin.html">
<link rel="import" href="../utils/style/app-theme.html">

<dom-module id="gk-login">
    <template>
        <style include="app-theme">
            :host {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            .login-box {
                width: 95%;
                max-width: 500px;
            }

            .input-box {
                width: 100%;
                height: 100%;
            }

            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .flex-column {
                flex-direction: column
            }

            app-toolbar {
                background-color: var(--default-primary-color);
                color: var(--text-primary-color);
            }

            paper-tabs {
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                width: 100%;
                text-transform: uppercase;
                color: white;
                --paper-tabs-selection-bar-color: var(--text-primary-color);
                --paper-tab-ink: var(--text-primary-color);
                background-color: var(--default-primary-color);
            }

            paper-input {
                width: 90%;
                margin-bottom: 25px;
            }

            paper-button{
                width: 90%;
                margin-top: 25px;
                margin-bottom: 25px;
                background-color: var(--default-primary-color);
                color: var(--text-primary-color);
            }

            paper-button[disabled]{
                background-color: #eaeaea;
            }

            paper-spinner-lite{
                --paper-spinner-color: var(--default-primary-color)
            }

            [full] {
                height: 100%;
                width: 100%;
            }
        </style>

        <paper-card class="login-box" full$="{{wideLayout}}">
            <app-toolbar>
                <div main-title id="maintitle">Gameskeep</div>
            </app-toolbar>
            <paper-tabs selected="{{selected}}" sticky>
                <paper-tab>Login</paper-tab>
                <paper-tab>Sign Up</paper-tab>
            </paper-tabs>
            <iron-pages selected="{{selected}}">
                <div class="input-box flex-center flex-column">
                    <paper-input label="Username or email" id="usernamelogin" on-value-changed="_validateLogin"></paper-input>
                    <paper-input label="Password" type="password" id="passlogin" on-value-changed="_validateLogin"></paper-input>
                    <paper-button raised on-click="login" disabled="[[loadingLogin]]">
                        <template is="dom-if" if="[[!loadingLogin]]">
                            LOGIN
                        </template> 
                        <template is="dom-if" if="[[loadingLogin]]">
                            <paper-spinner-lite active></paper-spinner-lite>
                        </template>
                    </paper-button>
                </div>
                <div class="input-box flex-center flex-column">
                    <paper-input label="Username" id="usernamesign" on-value-changed="_validateSignUp"></paper-input>
                    <paper-input label="Email" id="emailsign" on-value-changed="_validateSignUp"></paper-input>
                    <paper-input label="Password" type="password" id="passign" on-value-changed="_validateSignUp"></paper-input>
                    <paper-input label="Repeat Password" type="password" id="repassign" on-value-changed="_validateSignUp"></paper-input>
                    <paper-button raised on-click="signup" disabled="[[loadingSignup]]">
                        <template is="dom-if" if="[[!loadingSignup]]">
                            SIGN UP
                        </template> 
                        <template is="dom-if" if="[[loadingSignup]]">
                            <paper-spinner-lite active></paper-spinner-lite>
                        </template>
                    </paper-button>
                </div>
            </iron-pages>
        </paper-card>

        <iron-media-query query="max-width: 500px" query-matches="{{wideLayout}}"></iron-media-query>

        <iron-meta id="meta"></iron-meta>

    </template>

    <script>
        /**
         * `gk-login` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class GkLogin extends UtilsMixin(Polymer.Element) {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'gk-login';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    apiurl: String,
                    selected: {
                        type: Number,
                        value: 0
                    },
                    wideLayout: {
                        type: Boolean,
                        value: false
                    },
                    loadingSignup: {
                        type: Boolean,
                        value: false
                    },
                    loadingLogin: {
                        type: Boolean,
                        value: false
                    },
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

            login(){
                let username = this.$.usernamelogin
                let password = this.$.passlogin

                if(username.value == '' ){
                    username.errorMessage = 'Username is empty'
                    username.invalid = true
                }
                if(password.value == '') {
                    password.errorMessage = 'Password is empty'
                    password.invalid = true
                }

                if(!username.invalid && !password.invalid){
                    this.$.meta.byKey('login-service').login(username.value, password.value)
                }
            }

            signup(){

                let username = this.$.usernamesign
                let email = this.$.emailsign
                let password = this.$.passign
                let password2 = this.$.repassign

                if(username.value == '' ){
                    username.errorMessage = 'Username is empty'
                    username.invalid = true
                }
                if(email.value == '') {
                    email.errorMessage = 'Email is empty'
                    email.invalid = true
                }else {
                    this._validateEmail(email)
                }
                
                this._validatePassword(password, password2)
                
                if(!username.invalid && !email.invalid && !password.invalid && !password2.invalid) {
                    this.$.meta.byKey('login-service').signup(username.value, email.value, password.value)
                }

            }

            signUpComplete(){
                this.$.usernamesign.value = ''
                this.$.emailsign.value = ''
                this.$.passign.value = ''
                this.$.repassign.value = ''

                this.selected = 0
            }

            loginComplete(){
                this.$.usernamelogin.value = ''
                this.$.passlogin.value = ''
            }

            _validateSignUp(){
                let username = this.$.usernamesign
                let email = this.$.emailsign
                let password = this.$.passign
                let password2 = this.$.repassign

                username.invalid = false
                email.invalid = false
                password.invalid = false
                password2.invalid = false
            }

            _validateLogin() {
                let username = this.$.usernamelogin
                let password = this.$.passlogin

                username.invalid = false
                password.invalid = false
            }

            _validateEmail(email) {
                var re = /^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$/;
                if(!re.test(String(email.value).toLowerCase())){
                    email.errorMessage = 'Email is not valid.'
                    email.invalid = true
                }
            }

            _validatePassword(password, password2){
                if(password.value == '') {
                    password.errorMessage = 'Password is empty'
                    password.invalid = true
                }
                if(password2.value == '') {
                    password2.errorMessage = 'Password is empty'
                    password2.invalid = true
                } 
                let pwdnum = /[0-9]/
                let pwdlowercase = /[a-z]/
                let pwduppercase = /[A-Z]/
                if(!password.invalid && !password2.invalid){
                    if(password.value != password2.value) {
                        password2.errorMessage = 'Password don\'t match'
                        password2.invalid = true
                    }else if(password.length < 8){
                        password.errorMessage = 'Password must contain at least 8 characters'
                        password.invalid = true
                    }else if(password.value == this.$.usernamesign.vale){
                        password.errorMessage = 'Password must be different from Username'
                        password.invalid = true
                    }else if(!pwdnum.test(password.value)){
                        password.errorMessage = 'Password must contain at least one number (0-9)'
                        password.invalid = true
                    }else if(!pwdlowercase.test(password.value)){
                        password.errorMessage = 'Password must contain at least one lowercase letter (a-z)'
                        password.invalid = true
                    }else if(!pwduppercase.test(password.value)){
                        password.errorMessage = 'Password must contain at least one uppercase letter (A-Z)'
                        password.invalid = true
                    }
                }
            }

        }

        window.customElements.define(GkLogin.is, GkLogin);
    </script>
</dom-module>