<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="gk-no-data">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>

        <p><slot></slot></p>

    </template>

    <script>

        class GkNoData extends Polymer.Element {

            static get is() {
                return 'gk-no-data';
            }

            static get properties() {
                return {
                    
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

        }

        window.customElements.define(GkNoData.is, GkNoData);
    </script>
</dom-module>