<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../../platform/gk-platform.html">
<link rel="import" href="../../../utils/UtilsMixin.html">

<dom-module id="gk-game-pending-card">
    <template>
        <style>
            :host {
                display: block;
            }

            paper-card{
                width: 150px;
                margin: 5px;
            }
            
            iron-image{
                width: 150px;
                height: 212px;
            }

            paper-card:hover{
                cursor: pointer;
            }

            p{
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            gk-platform {
                margin: 10px 0px;
                float: right;
            }

        </style>

        <paper-card on-click="details">
            <iron-image src="[[image]]" sizing="cover"></iron-image>
            <div class="card-content">
                <p id="title">[[game]]</p>
                <gk-platform platform="[[platform]]" onlyicon></gk-platform>
            </div>
        </paper-card>

        <paper-tooltip for="title" animation-delay="100">[[game]]</paper-tooltip>

    </template>

    <script>

        class GkGamePendingCard extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-game-pending-card';
            }

            static get properties() {
                return {
                    gid: String,
                    game: String,
                    image: String,
                    platform: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            start(){
                this.fire('change-state', {
                    game: this,
                    nextState: 'PLAYING'
                })
            }

            details(){
                this.fire('show-details', this.gid)
            }

        }

        window.customElements.define(GkGamePendingCard.is, GkGamePendingCard);
    </script>
</dom-module>