<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../../bower_components/l2t-paper-rating/l2t-paper-rating.html">

<link rel="import" href="../../platform/gk-platform.html">
<link rel="import" href="../../../utils/UtilsMixin.html">
<link rel="import" href="../../../utils/style/app-theme.html">

<dom-module id="gk-game-finished-card">
    <template>
        <style include="app-theme">
            :host {
                display: block;
            }

            paper-card{
                width: 150px;
                margin: 5px;
            }
            
            iron-image{
                width: 150px;
                height: 212px;
            }

            paper-card:hover{
                cursor: pointer;
            }

            p{
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            span{
                font-size: 12px;
                color: var(--secondary-text-color)
            }

            .calendar{
                --iron-icon-width: 21px;
                --iron-icon-height: 21px;
            }

            .date {
                width: 90px;
                display: flex;
                justify-content: start;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;
            }

            .rate-platform {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;
            }
            
            l2t-paper-rating{
                --rating-icon-size: 14px;
                position: relative;
                left: -3px;
            }
        </style>

        <paper-card on-click="details">
            <iron-image src="[[image]]" sizing="cover"></iron-image>
            <div class="card-content">
                <p id="title">[[game]]</p>
                <div class="date">
                    <span>[[days]] days spent</span>
                </div> 
                <div class="rate-platform">
                    <l2t-paper-rating rating="[[rate]]" readonly></l2t-paper-rating>
                    <gk-platform platform="[[platform]]" onlyicon></gk-platform>
                </div>
            </div>
        </paper-card>

        <paper-tooltip for="title" animation-delay="100">[[game]]</paper-tooltip>

    </template>

    <script>

        class GkGameFinishedCard extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-game-finished-card';
            }

            static get properties() {
                return {
                    gid: String,
                    game: String,
                    image: String,
                    platform: String,
                    startdate: String,
                    enddate: String,
                    rate: Number,
                    days: {
                        type: Number,
                        computed: '_parseDate(startdate, enddate)'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            details() {
                this.fire('show-details', this.gid)
            }

            _parseDate(startdate, enddate) {
                var date1 = new Date(startdate);
                var date2 = new Date(enddate);
                var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                return diffDays
            }

        }

        window.customElements.define(GkGameFinishedCard.is, GkGameFinishedCard);
    </script>
</dom-module>