<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-dynamodb-service">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax
            id="getAll"
            method="GET"
            url="[[api]]/games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="getAllResponse"
            on-error="getAllError"
            loading="{{loadingGetAll}}"
        ></iron-ajax>

        <iron-ajax
            id="get"
            method="GET"
            url="[[api]]/games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="getResponse"
            on-error="getError"
            loading="{{loadingGet}}"
        ></iron-ajax>

        <iron-ajax
            id="post"
            method="POST"
            url="[[api]]/games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="postResponse"
            on-error="postError"
            loading="{{loadingPost}}"
        ></iron-ajax>

        <iron-ajax
            id="put"
            method="PUT"
            url="[[api]]/games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="putResponse"
            on-error="putError"
            loading="{{loadingPost}}"
        ></iron-ajax>

        <iron-ajax
            id="delete"
            method="DELETE"
            url="[[api]]/games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="deleteResponse"
            on-error="deleteError"
            loading="{{loadingDelete}}"
        ></iron-ajax>

    </template>

    <script>

        class GkDynamoDBService extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-dynamodb-service';
            }

            static get properties() {
                return {
                    api: String,
                    token: String,
                    headers: {
                        type: Object,
                        computed: '_computedHeaders(token)'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            _computedHeaders(token){
                return {
                    'Authorization': token
                }
            }

            getAllGames(){
                this.$.getAll.generateRequest()
            }

            getGame(gid){
                this.$.get.url = this.$.get.url + '/' + gid
                this.$.get.generateRequest()
            }

            insertGame(game){
                this.$.post.body = JSON.stringify(game)
                this.$.post.generateRequest()
            }

            updateGame(game) {
                this.$.put.body = JSON.stringify(game)
                this.$.put.generateRequest()
            }

            deleteGame(gid){
                this.$.delete.url = this.$.delete.url + '/' + gid
                this.$.delete.generateRequest()
            }

            getAllResponse(e){
                this.fire('getall-response', e.detail.response)
            }

            getAllError(e){
                this.fire('get-all-games-error')
            }

            getResponse(e){

            }

            getError(e){
                
            }

            postResponse(e){
                this.fire('game-inserted')
            }

            postError(e){
                this.fire('game-insert-error')
            }

            deleteResponse(e){
                this.fire('game-deleted')
            }

            deleteError(e){
                this.fire('game-delete-error')
            }

            putResponse(e) {
                this.fire('game-updated')
            }

            putError(e) {
                this.fire('game-update-error')
            }
        }

        window.customElements.define(GkDynamoDBService.is, GkDynamoDBService);
    </script>
</dom-module>