<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="./gk-dynamodb-service.html">
<link rel="import" href="./gk-igdb-service.html">
<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-games-service">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <gk-igdb-service
            id="igdb"
            api="[[api]]"
            token="[[token]]"
            on-get-games-successfully="igdbGetAllResponse"
            on-get-games-error="getGamesError"
        ></gk-igdb-service>

        <gk-dynamodb-service
            id="dynamodb"
            api="[[api]]"
            token="[[token]]"
            on-getall-response="dynamodbGetAllResponse"
            on-game-insert-error="gameInsertError"
            on-get-all-games-error="getAllGamesError"
        ></gk-dynamodb-service>

    </template>

    <script>

        class GkGamesService extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-games-service';
            }

            static get properties() {
                return {
                    api: String,
                    token: String,
                    loading: {
                        type: Boolean,
                        notify: true,
                        value: true
                    },
                    pending: {
                        type: Array,
                        notify: true,
                        value: () => []
                    },
                    playing: {
                        type: Array,
                        notify: true,
                        value: () => []
                    },
                    finished: {
                        type: Array,
                        notify: true,
                        value: () => []
                    },
                    allDynamoDBGames: {
                        type: Array,
                        value: () => []
                    },
                    alligdbGames: {
                        type: Array,
                        value: () => []
                    },
                    allGames: Array
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            getAllGames(){
                this.set('loading', true)
                this.$.dynamodb.getAllGames()
            }

            getGame(gid){
                for(let i = 0; i < this.allGames.length; i++){
                    console.log(this.allGames[i].gid, gid)
                    if(this.allGames[i].gid == gid){
                        return this.allGames[i]
                    }
                }
            }

            search(q){
                this.$.igdb.searchGames(q)
            }

            insertGame(game){
                this.$.dynamodb.insertGame(game)
            }

            updateGame(game){
                this.$.dynamodb.updateGame(game)
            }

            deleteGame(gid){
                this.$.dynamodb.deleteGame(gid)
            }


            dynamodbGetAllResponse(e){
                this.allDynamoDBGames = e.detail
                let ids = this.allDynamoDBGames.map(game => {
                    return game.gid
                })
                this.$.igdb.resolveIds(ids)
            }

            igdbGetAllResponse(e) {
                this.alligdbGames = e.detail
                this.allGames = this.alligdbGames.map(igdbGame => {
                    let dynamoGame = {}
                    this.allDynamoDBGames.forEach(game => {
                        if(game.gid == igdbGame.id){
                            game.image = `https://images.igdb.com/igdb/image/upload/t_cover_big/${igdbGame.cover.cloudinary_id}.jpg`
                            dynamoGame = game
                        }
                    });
                    return Object.assign(dynamoGame, igdbGame)
                })
                let pending = []
                let playing = []
                let finished = []
                this.allGames.forEach(game => {
                    switch(game.status){
                        case 'PENDING':
                            pending.push(game)
                            break
                        case 'PLAYING':
                            playing.push(game)
                            break
                        case 'FINISHED':
                            finished.push(game)
                            break
                    }
                });
                this.set('pending', pending)
                this.set('playing', playing)
                this.set('finished', finished)
                this.set('loading', false)
            }

            gameInsertError(){
                this.set('loading', false)
                this.fire('toast-message', {
                    status: 'error',
                    message: 'Sorry, the game insert has failed.',
                    duration: 3000
                })
            }

            getAllGamesError(e){
                this.set('loading', false)
                this.fire('toast-message', {
                    status: 'error',
                    message: 'Internal error',
                    duration: 3000
                })
            }

            getGamesError(){
                this.set('loading', false)
                this.fire('toast-message', {
                    status: 'error',
                    message: 'The IGDB API has failed.',
                    duration: 3000
                })
            }
        }

        window.customElements.define(GkGamesService.is, GkGamesService);
    </script>
</dom-module>