<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-igdb-service">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax
            id="search"
            method="GET"
            url="[[api]]/igdb-games/search"
            headers="[[headers]]"
            content-type="application/json"
            on-response="searchresponse"
            on-error="searcherror"
            loading="{{loadingSearch}}"
        ></iron-ajax>

        <iron-ajax
            id="getGames"
            method="GET"
            url="[[api]]/igdb-games"
            headers="[[headers]]"
            content-type="application/json"
            on-response="getGamesResponse"
            on-error="getGamesError"
            loading="{{loadingGetGames}}"
        ></iron-ajax>

    </template>

    <script>

        class GkIgdbService extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-igdb-service';
            }

            static get properties() {
                return {
                    headers: {
                        type: Object,
                        computed: '_computedHeaders(token)'
                    },
                    api: String,
                    token: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            searchGames(strsearch){
                this.$.search.params = {
                    q: strsearch
                }

                this.$.search.generateRequest()
            }

            resolveIds(ids){
                let strids = ids.join(',')
                this.$.getGames.params = {
                    gid: strids
                }
                this.$.getGames.generateRequest()
            }

            searchresponse(e){
                let games = e.detail
                this.fire('search-response', games)
            }

            getGamesResponse(e){
                this.fire('get-games-successfully', e.detail.response)
            }

            getGamesError(e){
                this.fire('get-games-error')
            }

            _computedHeaders(token){
                return {
                    'Authorization': token
                }
            }

            searchresponse(e){
                this.fire('search-games-successfully', e.detail.response)
            }

            searcherror(e){
                this.fire('search-games-fail')
            }

        }

        window.customElements.define(GkIgdbService.is, GkIgdbService);
    </script>
</dom-module>