<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="./services/gk-login-service.html">
<link rel="import" href="./utils/LoginMixin.html">
<link rel="import" href="./utils/UtilsMixin.html">
<link rel="import" href="./views/gk-loading.html">

<link rel="lazy-import" href="./views/games/gk-games.html">
<link rel="import" href="./views/games/gk-game-detail.html">
<link rel="lazy-import" href="./views/gk-login.html">
<link rel="lazy-import" href="./views/layout/gk-layout.html">
<link rel="lazy-import" href="./views/layout/drawers/gk-drawer.html">
<link rel="lazy-import" href="./views/layout/drawers/gk-filter-drawer.html">

<dom-module id="gk-app">
    <template>
        <style>
            :host {
                display: block;
                height: 100%;
            }

            @import url('https://fonts.googleapis.com/css?family=Roboto');
      
            *{
                font-family: 'Roboto', 'Noto', sans-serif;
            }

            gk-loading{
                width: 100%;
                height: 100%;
            }

            .toast-error {
                --paper-toast-background-color: red;
                --paper-toast-color: white;
            }

            .toast-success {
                --paper-toast-background-color: green;
                --paper-toast-color: white;
            }

            iron-pages{
                height: 100%;
            }
        </style>

        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}"
        ></app-route>

        <iron-pages selected="[[page]]" attr-for-selected="page">
            <gk-loading page="loading">Loading app</gk-loading>
            <gk-login page="login" id="login"></gk-login>
            <gk-layout id="layout" page="main" on-reload-list="reloadList" mainselected="[[mainSelected]]">
                <gk-drawer slot="main-drawer" on-game-clicked="changeToGamePage"></gk-drawer>
                <!-- <gk-filter-drawer 
                    slot="filter-drawer"
                    on-close-filter-drawer="closeFilterDrawer"
                ></gk-filter-drawer> -->
                <iron-pages selected="[[mainSelected]]" attr-for-selected="main-page" slot="pages">
                    <gk-games 
                        id="viewGames"
                        main-page="games" 
                        route="{{subroute}}" 
                        token="[[tokens.IdToken]]"
                        api="[[apiurl]]"
                        on-show-details="showDetails"
                        on-game-updated="savedGame"
                        on-game-deleted="deletedGame"
                    ></gk-games>
                    <gk-game-detail
                        id="gameDetail"
                        main-page="gamedetail"
                        on-close-details="closeDetails"
                        on-save-game-changes="saveGame"
                        on-delete-game="deleteGame"
                    ></gk-game-detail>
                </iron-pages>
            </gk-layout>
        </iron-pages>

        <paper-toast id="toast" class$="fit-bottom toast-[[toastclass]]"></paper-toast>

        <gk-login-service
            id="loginService"
            api="[[apiurl]]"
            tokens={{tokens}}
            on-login-fail="loginfail"
            on-login-success="loginsuccess"
            on-signup-fail="signupfail"
            on-signup-success="signupsuccess"
            on-loading-login="loadingLogin"
            on-loading-signup="loadingSignup"
            on-loadstorage-loaded="reloadRouting"
            on-token-verified="tokenVerified"
        ></gk-login-service>

    </template>

    <script>

        const GkAppMixin = UtilsMixin(LoginMixin(Polymer.Element))

        class GkApp extends GkAppMixin {

            static get is() {
                return 'gk-app';
            }

            static get properties() {
                return {
                    toastclass: {
                        type: String,
                        value: 'good'
                    },
                    apiurl: {
                        type: String,
                        value: 'https://xo9kkagv87.execute-api.eu-west-2.amazonaws.com/dev'
                    },
                    routeData: {
                        type: Object,
                        observer: 'routeDataChanged'
                    },
                    page: {
                        type: String,
                        value: 'loading'
                    },
                    tokens: Object,
                    mainSelected: String
                };
            }

            static get observers() {
                return [
                    
                ];
            }

            constructor() {
                super();

                window.addEventListener('goto', (e) => {
                    this.changePage(e.detail)
                })
                window.addEventListener('toast-message', (e) => {
                    this.toastMessage(e.detail.status, e.detail.message, e.detail.duration)
                })
                window.addEventListener('logout', (e) => {
                    this.$.loginService.logout()
                    this.changePage('login')
                })
            }

            ready() {
                super.ready();
            }

            toastMessage(status, message = '', duration = 3000){
                this.toastclass = status;
                this.$.toast.show({text: message, duration: duration});
            }

            changePage(page){
                this.set('routeData.page', page)
            }

            routeDataChanged(route){
                console.log(route)
                let page = route.page

                switch(page){
                    case '':
                        if(this.$.loginService.tokenStatus == 'LOADED' || this.$.loginService.tokenStatus == 'OK'){
                            this.changePage('games')
                        }else if(this.$.loginService.tokenStatus == 'EMPTY' || this.$.loginService.tokenStatus == 'ERROR'){
                            this.changePage('login')
                        }
                        break;
                    case 'login':
                        if(this.$.loginService.tokenStatus == 'LOADED' || this.$.loginService.tokenStatus == 'OK'){
                            this.changePage('games')
                        }else if(this.$.loginService.tokenStatus == 'EMPTY' || this.$.loginService.tokenStatus == 'ERROR'){
                            this.importComponent('./views/gk-login.html')
                            this.set('page', 'login')
                        }
                        break;
                    case 'games':
                        if(this.$.loginService.tokenStatus == 'OK'){
                            this._loadGames()
                        }else if(this.$.loginService.tokenStatus == 'ERROR'){
                            this.changePage('login')
                        }else {
                            if(this.$.loginService.tokenStatus == 'LOADED'){
                                this._verifyToken()
                            }else if(this.$.loginService.tokenStatus == 'EMPTY'){
                                this.changePage('login')
                                this.toastMessage('error', 'There is no session started')
                            }
                        }
                        break;
                    case 'detail':
                        if(this.$.loginService.tokenStatus == 'OK'){
                            this._loadDetail()
                        }else if(this.$.loginService.tokenStatus == 'ERROR'){
                            this.changePage('login')
                        }else {
                            if(this.$.loginService.tokenStatus == 'LOADED'){
                                this._verifyToken()
                            }else if(this.$.loginService.tokenStatus == 'EMPTY'){
                                this.changePage('login')
                                this.toastMessage('error', 'There is no session started')
                            }
                        }
                }
            }

            reloadRouting(){
                this.routeDataChanged(this.routeData)
            }

            tokenVerified(){
                if(this.$.loginService.tokenStatus == 'OK'){
                    this._loadGames()
                }else if(this.$.loginService.tokenStatus == 'ERROR'){
                    this.changePage('login')
                }
            }

            reloadList(){
                this.$.viewGames.reloadLists()
            }

            closeFilterDrawer(){
                this.$.layout.closeFilterDrawer()
            }

            showDetails(e){
                console.log(e.detail)
                this.$.viewGames.set('subroute.__queryParams.list', null)
                this.$.viewGames.set('subroute.__queryParams.gid', e.detail) 
                this.changePage('detail')
            }

            closeDetails(e){
                this.changePage('games')
                this.$.viewGames.set('subroute.__queryParams.gid', null) 
                this.$.viewGames.set('subroute.__queryParams.list', e.detail)
                this.$.viewGames.reloadLists()
            }

            saveGame(e) {
                let game = e.detail
                this.$.viewGames.saveGame(game)
            }

            savedGame(){
                this.$.gameDetail.set('saving', false)
            }

            deleteGame(e){
                let gid = e.detail
                this.$.viewGames.deleteGame(gid)
            }

            deletedGame(){
                this.$.gameDetail.set('deleting', false)
            }

            changeToGamePage() {
                this.$.viewGames.set('subroute.__queryParams.list', 'pending')
                this.changePage('games')
            }

            _verifyToken(){
                this.$.loginService.set('tokenStatus', 'LOADING')
                this.$.loginService.verifyToken()
            }

            _loadGames(){
                this.importComponent('./views/layout/gk-layout.html')
                this.importComponent('./views/layout/drawers/gk-drawer.html')
                this.importComponent('./views/layout/drawers/gk-filter-drawer.html')
                this.importComponent('./views/games/gk-games.html')
                this.set('page', 'main')
                this.set('mainSelected', 'games')
            }

            _loadDetail(){
                this.importComponent('./views/layout/gk-layout.html')
                this.importComponent('./views/layout/drawers/gk-drawer.html')
                this.importComponent('./views/layout/drawers/gk-filter-drawer.html')
                this.importComponent('./views/games/gk-games.html')
                this.set('page', 'main')
                this.$.gameDetail.setGame(this.$.viewGames.getGame(this.subroute.__queryParams.gid))
                this.set('mainSelected', 'gamedetail')
            }
        }

        window.customElements.define(GkApp.is, GkApp);
    </script>
</dom-module>