<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../platform/gk-platform-dropdown.html">
<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-search-item">
    <template>
        <style>
            :host {
                display: block
            }

            p, iron-pages{
                user-select: none;
                width: 100%;
                height: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .gameplatform {
                display: flex;
                align-items: center;
                justify-content: space-between
            }

            .gameitem {
                display: flex;
                align-items: center;
                justify-content: start
            }

            iron-image{
                width: 50px;
                height: 50px;
                margin: 10px;
            }
        </style>

        <paper-item id="itemRoot">
            <iron-pages selected="{{selected}}" attr-for-selected="page">
                <div class="gameitem" page="game">
                    <iron-image src="[[image]]" sizing="cover"></iron-image>
                    <p on-click="changeToPlatform">[[game]]</p>
                </div>
                <div class="gameplatform" page="platform">
                    <gk-platform-dropdown id="platform" value="{{platform}}"></gk-platform-dropdown>
                    <paper-icon-button id="closeBtn" icon="close" on-click="changeToGame"></paper-icon-button>
                </div>
            </iron-pages>
        </paper-item>

    </template>

    <script>

        class GkSearchItem extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-search-item';
            }

            static get properties() {
                return {
                    selected: {
                        type: String,
                        value: 'game'
                    },
                    game: String,
                    index: Number,
                    gid: String,
                    platform: String,
                    image: String
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            changeToPlatform(){
                this.fire('search-game-selected', this)
            }

            changeToGame(){
                this.set('selected', 'game')
                this.$.platform.set('value', '')
            }

        }

        window.customElements.define(GkSearchItem.is, GkSearchItem);
    </script>
</dom-module>