<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="./gk-search-item.html">

<dom-module id="gk-search-list">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 500px
            }
        </style>
        <template is="dom-repeat" items="[[games]]">
            <gk-search-item
                id="searchItem[[item.id]]"
                gid="[[item.id]]"
                game="[[item.name]]"
                image="https:[[item.cover.url]]"
            ></gk-search-item>
        </template>
    </template>

    <script>

        class GkSearchList extends Polymer.Element {

            static get is() {
                return 'gk-search-list';
            }

            static get properties() {
                return {
                    games: {
                        type: Array,
                        value: function(){
                            return []
                        }
                    },
                    selectedGame: Object
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
                this.addEventListener('search-game-selected', e => this._checkAllItems(e))
            }

            clean(){
                this.set('games', [])
                this.notifyPath('games')
            }

            _checkAllItems(e){
                this.games.forEach(game => {
                    if(game.id != e.detail.gid){
                        let item = this.shadowRoot.querySelector('#searchItem' + game.id)
                        item.set('selected', 'game')
                        item.$.platform.set('value', '')
                    }else{
                        e.detail.set('selected', 'platform')
                        this.set('selectedGame', e.detail)
                    }
                });
            }

        }

        window.customElements.define(GkSearchList.is, GkSearchList);
    </script>
</dom-module>