<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-search/paper-search-bar.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../gk-loading.html">
<link rel="import" href="./gk-search-list.html">
<link rel="import" href="../gk-no-data.html">
<link rel="import" href="../../utils/UtilsMixin.html">

<dom-module id="gk-search">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                max-width: 500px;
            }
            
            paper-search-bar{
                position: relative;
                top: -24px;
                padding: 5px 0px;
                -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.64);
                -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.64);
                box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.64);
            }

            gk-loading{
                height: 500px;
                --gk-loading-bg-color: white
            }

            gk-search-list{
                height: 500px;
                overflow-y: auto
            }

        </style>
        <paper-search-bar
            placeholder="Search a game"
            hide-filter-button
            on-paper-search-search="searchGames"
            query="{{query}}"
        ></paper-search-bar>
        <iron-pages selected="{{selected}}" attr-for-selected="page">
            <gk-loading page="loading">Searching...</gk-loading>
            <gk-search-list
                id="list"
                page="list"
                games="[[games]]"
            ></gk-search-list>
            <gk-no-data page="nodata">No search data</gk-no-data>
        </iron-pages>
    </template>

    <script>

        class GkSearch extends UtilsMixin(Polymer.Element) {

            static get is() {
                return 'gk-search';
            }

            static get properties() {
                return {
                    selected: {
                        type: String,
                        value: 'list'
                    },
                    games: {
                        type: Array,
                        observer: 'gamesChanged'
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            getSelectedGame(){
                let game = {
                    gid: this.$.list.selectedGame.gid,
                    platform: this.$.list.selectedGame.platform
                }

                return game
            }

            clean(){
                this.query = ''
                this.$.list.clean()
            }

            searchGames(){
                this.set('selected', 'loading')
                this.fire('search-games', this.query)
            }

            gamesChanged(){
                if(this.games == []){
                    this.set('selected', 'nodata')
                }else {
                    this.set('selected', 'list')
                }

            }

        }

        window.customElements.define(GkSearch.is, GkSearch);
    </script>
</dom-module>